<!doctype html>
<html lang="en">
    <head>
      <sly data-sly-include="partials/headlibs.html" data-sly-unwrap/>
    </head>
    <body ng-app="core" ng-controller="indexController as controller">
        <sly data-sly-include="partials/header.html" data-sly-unwrap/>

        <!-- Jumbotron Component -->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">Rest Framework</h1>
                <p class="lead">This page lists all the entries there are in the DB. It supports CRUD operations on it via UI.</p>
            </div>
        </div>

        <sly data-sly-include="./content.html" data-sly-unwrap/>

        <sly data-sly-include="partials/footer.html" data-sly-unwrap/>
        <script>

        </script>
    </body>
</html>
